services:
  postgres:
    image: postgres:15-alpine
    container_name: codecrafting-postgres
    environment:
      POSTGRES_DB: codecrafting
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  nextjs:
    build:
      context: .
      dockerfile: DockerfileDev
    container_name: codecrafting-webapp
    ports:
      - "3000:3000"
      - "5555:5555"
    env_file:
      - .env.local
    environment:
      DATABASE_URL: "postgresql://postgres:password@postgres:5432/codecrafting?schema=public"
    depends_on:
      - postgres
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next

volumes:
  postgres_data:

