name: Move issue to correct status on commit

on:
  push:
    branches:
      - '**'

permissions:
  contents: write
  issues: write

jobs:

  check-commit:
    name: Récupération des infos du commit
    runs-on: ubuntu-latest
    outputs:
      ref_issue: ${{ steps.extract_refs.outputs.ref_issue }}
      closed_issue: ${{ steps.extract_refs.outputs.closed_issue }}
    steps:
      - uses: actions/checkout@v3

      - name: Extract issues
        id: extract_refs
        run: |
          # Récupérer le message du commit
          COMMIT_MSG="${{ github.event.head_commit.message }}"
          
          # Extraire la référence de l'issue (format: ref #123)
          REF_ISSUE=$(echo "$COMMIT_MSG" | grep -oP 'ref\s*#\K\d+' | tr '\n' ' ')
          
          # Extraire la fermeture d'issue (format: close #123, fixed #456)
          CLOSED_ISSUE=$(echo "$COMMIT_MSG" | grep -oP '(?:close|closed|fixe|fixed)\s*#\K\d+' | tr '\n' ' ')

          # Afficher les résultats
          echo "Issue référencée: $REF_ISSUE"
          echo "Issue fermée: $CLOSED_ISSUE"
          
          # Définir les sorties
          echo "ref_issue=$REF_ISSUE" >> $GITHUB_OUTPUT
          echo "closed_issue=$CLOSED_ISSUE" >> $GITHUB_OUTPUT

  get-issue-info:
    name: Récupération du projet
    runs-on: ubuntu-latest
    needs: check-commit
    outputs:
      repo_id: ${{ steps.extract_repo.outputs.ref_issue }}
      projectv2_id: ${{ steps.extract_repo.outputs.projectv2_id }}
    steps:
      - name: Get repository id
        id: extract_repo
        run: |
          REPO_ID=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}" | jq -r '.id')
          echo "repo_id=$REPO_ID" >> $GITHUB_OUTPUT

      - name: Get project id
        id: extract_issue
        run: |
          curl -X POST https://api.github.com/graphql -H "Authorization: bearer ${{ secrets.ACTIONS }}" -H "Content-Type: application/json" -d '{"query": "query { repository(owner: \"CodeCraftingDevelopment\", name: \"codecrafting-webapp\") { projectsV2(first: 10) { nodes { title id } } } }" }'


          
          

          
          
  move-project-to-in-progress:
    name: Projet vers "In-Progress"
    if: ${{ needs.check-commit.outputs.ref_issue != '' }}
    runs-on: ubuntu-latest
    needs: [check-commit, get-issue-info]
    steps:

      - uses: actions/checkout@v3

      - name: Move issue to "In progress" if found
        run: |
          curl -X PATCH -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/issues/3" -d '{"state":"open"}'
#          curl -s \
#          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
#          -H "Accept: application/vnd.github.v3+json" \
#          "https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/issues" | \
#          jq "map(select(.number == ${{ needs.check-commit.outputs.ref_issue }})) | [.[] | {id, number, title}]"

  move-project-to-done:
    name: Projet vers "Done"
    if: ${{ needs.check-commit.outputs.closed_issue != '' }}
    runs-on: ubuntu-latest
    needs: [check-commit, get-issue-info]
    steps:

      - uses: actions/checkout@v3

      - name: Move issue to "Done" if found
        run: |
          curl -X PATCH -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/repos/CodeCraftingDevelopment/codecrafting-webapp/issues/3" -d '{"state":"closed"}'
#          curl -s \
#          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
#          -H "Accept: application/vnd.github.v3+json" \
#          "https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/issues" | \
#          jq "map(select(.number == ${{ needs.check-commit.outputs.closed_issue }})) | [.[] | {id, number, title}]"