name: Move issue to correct status on commit

on:
  push:
    branches:
      - '**'

permissions:
  contents: write
  packages: write

jobs:

  check-commit:
    name: Récupération de l'issue
    runs-on: ubuntu-latest
    outputs:
      ref_issue: ${{ steps.extract_refs.outputs.ref_issue }}
      closed_issue: ${{ steps.extract_refs.outputs.closed_issue }}
    steps:
      - uses: actions/checkout@v3

      - name: Extract issues
        id: extract_refs
        run: |
          # Récupérer le message du commit
          COMMIT_MSG="${{ github.event.head_commit.message }}"
          
          # Extraire la référence de l'issue (format: ref #123)
          REF_ISSUE=$(echo "$COMMIT_MSG" | grep -oP 'ref\s*#\K\d+' | tr '\n' ' ')
          
          # Extraire la fermeture d'issue (format: close #123, fixed #456)
          CLOSED_ISSUE=$(echo "$COMMIT_MSG" | grep -oP '(?:close|closed|fixe|fixed)\s*#\K\d+' | tr '\n' ' ')

          # Afficher les résultats
          echo "Issue référencée: $REF_ISSUE"
          echo "Issue fermée: $CLOSED_ISSUE"
          
          # Définir les sorties
          echo "ref_issue=$REF_ISSUE" >> $GITHUB_OUTPUT
          echo "closed_issue=$CLOSED_ISSUE" >> $GITHUB_OUTPUT
          
  move-projects-to-in-progress:
    name: Projet vers "In-Progress"
    if: ${{ needs.check-commit.outputs.ref_issue != '' }}
    runs-on: ubuntu-latest
    needs: check-commit
    steps:

      - uses: actions/checkout@v3

      - name: Move issue to "In progress" if found
        run: |
          curl -s \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          "https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/issues" | \
          jq "map(select(.number == ${{ needs.check-commit.outputs.ref_issue }})) | [.[] | {id, number, title}]"

  move-projects-to-done:
    name: Projet vers "Done"
    if: ${{ needs.check-commit.outputs.closed_issue != '' }}
    runs-on: ubuntu-latest
    needs: check-commit
    steps:

      - uses: actions/checkout@v3

      - name: Move issue to "Done" if found
        run: |
          curl -s \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          "https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/issues" | \
          jq "map(select(.number == ${{ needs.check-commit.outputs.closed_issue }})) | [.[] | {id, number, title}]"